Node_Red.json
[
    {
        "id": "9aa21ec22199705b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e6d44e64662ae017",
        "type": "mqtt in",
        "z": "9aa21ec22199705b",
        "name": "",
        "topic": "lora/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 300,
        "wires": [
            [
                "90c05fbd0cda9b45",
                "edc274c71b69972b",
                "717c25d26caa9bcf"
            ]
        ]
    },
    {
        "id": "42c0e4aad602fd9c",
        "type": "mqtt in",
        "z": "9aa21ec22199705b",
        "name": "",
        "topic": "lora/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 500,
        "wires": [
            [
                "ee7c6f992360dc8b",
                "ba597c6f6e17eefd",
                "4f49f163bd970d0e"
            ]
        ]
    },
    {
        "id": "ee7c6f992360dc8b",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "78e21e4353f44270",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 260,
        "y": 460,
        "wires": []
    },
    {
        "id": "90c05fbd0cda9b45",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "c2c21c29128782d5",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "60",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 390,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "258b8d59dc3e16f3",
        "type": "file",
        "z": "9aa21ec22199705b",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 1140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5eb3c8abc7befbbb",
        "type": "debug",
        "z": "9aa21ec22199705b",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 20,
        "wires": []
    },
    {
        "id": "6aeeba159a6c0170",
        "type": "inject",
        "z": "9aa21ec22199705b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "0bf75c5bdad22359",
                "af6ab972dffc4348"
            ]
        ]
    },
    {
        "id": "0bf75c5bdad22359",
        "type": "openweathermap",
        "z": "9aa21ec22199705b",
        "name": "",
        "wtype": "current",
        "lon": "9.9875597",
        "lat": "57.0139186",
        "city": "",
        "country": "",
        "language": "en",
        "x": 310,
        "y": 60,
        "wires": [
            [
                "5eb3c8abc7befbbb",
                "f96e9b208be9e9a3",
                "e4c18da3d0296625",
                "f51efd7cb96e8bef",
                "c91624744f121873"
            ]
        ]
    },
    {
        "id": "f7b5fc5e3ee3f33c",
        "type": "join",
        "z": "9aa21ec22199705b",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "1",
        "count": "6",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 730,
        "y": 420,
        "wires": [
            [
                "b3d8a88148e25bc9"
            ]
        ]
    },
    {
        "id": "b3d8a88148e25bc9",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "function 1",
        "func": "let now = new Date();\n\n// Format time only (HH:mm:ss)\nlet timeOnly = now.toLocaleTimeString('sv-SE'); // e.g., \"15:59:41\"\n\n// Format date for filename (e.g., \"2025_05_15\")\nlet dateString = now.toLocaleDateString('sv-SE');\nlet filenameDate = dateString.replace(/-/g, \"_\");\nlet filename = `/home/lab203/sensor_data_${filenameDate}.csv`;\n\nfunction unwrap(v) {\n    return typeof v === 'object' && v !== null && 'value' in v ? v.value : v;\n}\n\nlet temp = unwrap(msg.payload[\"lora/temperature\"]);\nlet hum = unwrap(msg.payload[\"lora/humidity\"]);\nlet pres = unwrap(msg.payload[\"lora/pressure\"]);\nlet tSPLA = unwrap(msg.payload[\"lora/totalSPLA\"]);\nlet spl = unwrap(msg.payload[\"lora/spl\"]);\n\nlet ow = msg.payload[\"Aalborg\"];\nlet ow_temp = ow?.tempc ?? \"NaN\";\nlet ow_hum = ow?.humidity ?? \"NaN\";\nlet ow_pres = ow?.pressure / 10 ?? \"NaN\";\n\n// Construct CSV line with **time only**\nlet csvLine = `${timeOnly},${temp},${hum},${pres},${tSPLA},${spl},${ow_temp},${ow_hum},${ow_pres}\\n`;\n\nmsg.filename = filename;\nmsg.payload = csvLine;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 460,
        "wires": [
            [
                "258b8d59dc3e16f3"
            ]
        ]
    },
    {
        "id": "ba597c6f6e17eefd",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "c2c21c29128782d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c91624744f121873",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "09bdd12a6a229c36",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{msg.payload.tempc}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#01e4e1",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "f96e9b208be9e9a3",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "09bdd12a6a229c36",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "203830a1889abac3",
        "type": "mqtt in",
        "z": "9aa21ec22199705b",
        "name": "",
        "topic": "lora/pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 200,
        "wires": [
            [
                "38a25877b87e6cfc",
                "dd1ffd2bdfb32a61",
                "31692165f85602b2"
            ]
        ]
    },
    {
        "id": "edc274c71b69972b",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "78e21e4353f44270",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{msg.payload}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#01e4e1",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 300,
        "wires": []
    },
    {
        "id": "fcd76c4b422a3545",
        "type": "mqtt in",
        "z": "9aa21ec22199705b",
        "name": "",
        "topic": "lora/totalSPLA",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 580,
        "wires": [
            [
                "73489444c0f5987a",
                "1f54502767c96311",
                "0250b137bb7a2d97"
            ]
        ]
    },
    {
        "id": "73489444c0f5987a",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "e24325fd102f16a9",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "A-weighted SPL",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "160",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#e80202",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#f50000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 280,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "69c7de3b76aebf00",
        "type": "mqtt in",
        "z": "9aa21ec22199705b",
        "name": "",
        "topic": "lora/spl",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 680,
        "wires": [
            [
                "3faef32915f25ad7",
                "b2b2f11ff6adefee"
            ]
        ]
    },
    {
        "id": "3faef32915f25ad7",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "e24325fd102f16a9",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "SPL",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "160",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff11",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#f50000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 250,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "f3563020e2bded88",
        "type": "inject",
        "z": "9aa21ec22199705b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 400,
        "wires": [
            [
                "f7b5fc5e3ee3f33c",
                "0250b137bb7a2d97"
            ]
        ]
    },
    {
        "id": "b2b2f11ff6adefee",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lora/spl",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 640,
        "wires": [
            [
                "f7b5fc5e3ee3f33c"
            ]
        ]
    },
    {
        "id": "1f54502767c96311",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lora/totalSPLA",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 540,
        "wires": [
            [
                "f7b5fc5e3ee3f33c"
            ]
        ]
    },
    {
        "id": "4f49f163bd970d0e",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lora/humidity",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 480,
        "wires": [
            [
                "f7b5fc5e3ee3f33c"
            ]
        ]
    },
    {
        "id": "717c25d26caa9bcf",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lora/temperature",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 380,
        "wires": [
            [
                "f7b5fc5e3ee3f33c"
            ]
        ]
    },
    {
        "id": "38a25877b87e6cfc",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "lora/pressure",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 260,
        "wires": [
            [
                "f7b5fc5e3ee3f33c"
            ]
        ]
    },
    {
        "id": "e4c18da3d0296625",
        "type": "change",
        "z": "9aa21ec22199705b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Aalborg",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 220,
        "wires": [
            [
                "f7b5fc5e3ee3f33c",
                "f1b689e0fba460a2",
                "4db27f97e1fd8c77",
                "66b7dd0e730dc585"
            ]
        ]
    },
    {
        "id": "dd1ffd2bdfb32a61",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "c2c21c29128782d5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Pressure Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 380,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "31692165f85602b2",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "78e21e4353f44270",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pressure",
        "label": "kPa",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00ffcc",
            "#00ff04",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "f51efd7cb96e8bef",
        "type": "ui_gauge",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "09bdd12a6a229c36",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pressure",
        "label": "kPa",
        "format": "{{msg.payload.pressure/10}}",
        "min": 0,
        "max": "200",
        "colors": [
            "#00ffcc",
            "#00ff04",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 640,
        "y": 180,
        "wires": []
    },
    {
        "id": "927cfad1906edb61",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "9c4daa0aa81cfdc8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "60",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "f1b689e0fba460a2",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "Temperature",
        "func": "msg.payload = msg.payload.tempc;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 120,
        "wires": [
            [
                "927cfad1906edb61"
            ]
        ]
    },
    {
        "id": "4db27f97e1fd8c77",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "Humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 200,
        "wires": [
            [
                "d937ee238f3d8000"
            ]
        ]
    },
    {
        "id": "d937ee238f3d8000",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "9c4daa0aa81cfdc8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "66b7dd0e730dc585",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "Air Pressure",
        "func": "msg.payload = msg.payload.pressure/10;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 260,
        "wires": [
            [
                "cc69f6589d02c34e"
            ]
        ]
    },
    {
        "id": "cc69f6589d02c34e",
        "type": "ui_chart",
        "z": "9aa21ec22199705b",
        "name": "",
        "group": "9c4daa0aa81cfdc8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Air Pressure",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "200",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9a8231c9be0cf780",
        "type": "ui_text",
        "z": "9aa21ec22199705b",
        "group": "e24325fd102f16a9",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Location",
        "label": "Coordinates",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 400,
        "y": 120,
        "wires": []
    },
    {
        "id": "af6ab972dffc4348",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "function 2",
        "func": "msg.payload = \"57.0139186, 9.9875597\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 120,
        "wires": [
            [
                "9a8231c9be0cf780"
            ]
        ]
    },
    {
        "id": "0250b137bb7a2d97",
        "type": "function",
        "z": "9aa21ec22199705b",
        "name": "function 3",
        "func": "let now = new Date();\nlet timestamp = now.getTime(); // Unix timestamp in milliseconds\nlet localTime = now.toLocaleString('sv-SE');\n\nlet spla = msg.payload;\nlet baseRadius = 1;\nlet scalingFactor = 0.5;\nlet radius = baseRadius + (spla * scalingFactor);\nradius = Math.min(radius, 150); // cap at 150 meters\n\n// Get or initialize the SPLA readings array from flow context\nlet readings = flow.get(\"spla_readings\") || [];\n\n// Add new reading\nreadings.push({ spla: spla, time: timestamp });\n\n// Remove readings older than 24 hours (86400000 ms)\nreadings = readings.filter(r => now.getTime() - r.time <= 86400000);\n\n// Find the maximum SPLA reading in the last 24 hours\nlet maxReading = readings.reduce((max, r) => r.spla > max.spla ? r : max, { spla: 0, time: 0 });\nlet maxTime = new Date(maxReading.time).toLocaleString('sv-SE');\n\n// Save back to context\nflow.set(\"spla_readings\", readings);\n\n// Prepare the map circle payload\nmsg.payload = {\n    name: \"Lab Room\",\n    lat: 57.0139186,\n    lon: 9.9875597,\n    layer: \"noise\",\n    icon: \"fa-bullhorn\",\n    radius: radius,\n    fillColor: \"#ff0000\",\n    fillOpacity: 0.4,\n    color: \"#800000\",\n    weight: 1,\n    popup: `Latest: ${spla} dB at ${localTime}<br>Max: ${maxReading.spla} dB at ${maxTime}`,\n    ttl: 600,\n    type: \"circle\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 580,
        "wires": [
            [
                "956fe65b5675e356"
            ]
        ]
    },
    {
        "id": "956fe65b5675e356",
        "type": "ui_worldmap",
        "z": "9aa21ec22199705b",
        "group": "dc2bc2a164d4bb93",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "57.0139186",
        "lon": "9.9875597",
        "zoom": "14",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "600",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,BU,RW,SN,TL,HM",
        "maplist": "OSMG",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 1020,
        "y": 580,
        "wires": []
    },
    {
        "id": "9de729393fdfaf2b",
        "type": "ui_spacer",
        "z": "9aa21ec22199705b",
        "name": "spacer",
        "group": "513baa0e66f0d17c",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "61138c31c4385d56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "78e21e4353f44270",
        "type": "ui_group",
        "name": "Sensor Weather",
        "tab": "98530c9acd617941",
        "order": 3,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c2c21c29128782d5",
        "type": "ui_group",
        "name": "Weather Graphs (Sensors)",
        "tab": "98530c9acd617941",
        "order": 4,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "09bdd12a6a229c36",
        "type": "ui_group",
        "name": "Actual Weather",
        "tab": "98530c9acd617941",
        "order": 2,
        "disp": true,
        "width": 4,
        "collapse": false,
        "className": ""
    },
    {
        "id": "e24325fd102f16a9",
        "type": "ui_group",
        "name": "Mic Data",
        "tab": "98530c9acd617941",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9c4daa0aa81cfdc8",
        "type": "ui_group",
        "name": "Weather Graphs (API)",
        "tab": "98530c9acd617941",
        "order": 1,
        "disp": true,
        "width": 5,
        "collapse": false,
        "className": ""
    },
    {
        "id": "dc2bc2a164d4bb93",
        "type": "ui_group",
        "name": "Noise Map",
        "tab": "173af63243205fea",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false,
        "className": ""
    },
    {
        "id": "513baa0e66f0d17c",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98530c9acd617941",
        "type": "ui_tab",
        "name": "Lab Room",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "173af63243205fea",
        "type": "ui_tab",
        "name": "Noise Map",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]