Node_Red.json
[
    {
        "id": "4c6622363990f819",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fca544d9d2adb4d2",
        "type": "ui_group",
        "name": "Default",
        "tab": "",
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "98530c9acd617941",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "991f04b079739482",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "78e21e4353f44270",
        "type": "ui_group",
        "name": "Sensor Weather",
        "tab": "98530c9acd617941",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "61138c31c4385d56",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "c2c21c29128782d5",
        "type": "ui_group",
        "name": "Graphs",
        "tab": "98530c9acd617941",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "09bdd12a6a229c36",
        "type": "ui_group",
        "name": "Actual Weather",
        "tab": "98530c9acd617941",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "175e6db4e0dfaf43",
        "type": "mqtt in",
        "z": "4c6622363990f819",
        "name": "",
        "topic": "lora/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 300,
        "wires": [
            [
                "f27b63d58d88382e",
                "b13d6c0ade64a54d",
                "41d5b83e2bcb19d4",
                "0b5a4714eae19263"
            ]
        ]
    },
    {
        "id": "f27b63d58d88382e",
        "type": "ui_gauge",
        "z": "4c6622363990f819",
        "name": "",
        "group": "78e21e4353f44270",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temp",
        "label": "Celsius",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 240,
        "wires": []
    },
    {
        "id": "184b5f731b8babcc",
        "type": "mqtt in",
        "z": "4c6622363990f819",
        "name": "",
        "topic": "lora/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "61138c31c4385d56",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "0e36bcaeaafe8a77",
                "41d5b83e2bcb19d4",
                "f7fccad68ad2b8bb"
            ]
        ]
    },
    {
        "id": "0e36bcaeaafe8a77",
        "type": "ui_gauge",
        "z": "4c6622363990f819",
        "name": "",
        "group": "78e21e4353f44270",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Hum",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 660,
        "wires": []
    },
    {
        "id": "b13d6c0ade64a54d",
        "type": "ui_chart",
        "z": "4c6622363990f819",
        "name": "",
        "group": "c2c21c29128782d5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Temp Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-40",
        "ymax": "120",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "0b8973b769a6ec30",
        "type": "file",
        "z": "4c6622363990f819",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 960,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "40aaaa07bbbfdc57",
        "type": "debug",
        "z": "4c6622363990f819",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 20,
        "wires": []
    },
    {
        "id": "461f1204f367aa8c",
        "type": "inject",
        "z": "4c6622363990f819",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 40,
        "wires": [
            [
                "f4c3554e0506e6b3"
            ]
        ]
    },
    {
        "id": "f4c3554e0506e6b3",
        "type": "openweathermap",
        "z": "4c6622363990f819",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "Aalborg",
        "country": "Denmark",
        "language": "en",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "40aaaa07bbbfdc57",
                "0e93a3f615abfb48",
                "9eb6779fcf2d37c2",
                "d7a149b8894b7a23"
            ]
        ]
    },
    {
        "id": "41d5b83e2bcb19d4",
        "type": "join",
        "z": "4c6622363990f819",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 440,
        "wires": [
            [
                "29a770456d84af1d"
            ]
        ]
    },
    {
        "id": "906d77273ef12f37",
        "type": "inject",
        "z": "4c6622363990f819",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "41d5b83e2bcb19d4"
            ]
        ]
    },
    {
        "id": "29a770456d84af1d",
        "type": "function",
        "z": "4c6622363990f819",
        "name": "function 1",
        "func": "let now = new Date();\n\n// Local timestamp for CSV\nlet localTime = now.toLocaleString('sv-SE').replace(\" \", \"T\"); // e.g., 2025-04-02T15:45:43\n\nlet temp = msg.payload[\"esp32/temperature\"];\nlet hum = msg.payload[\"esp32/humidity\"];\n\nlet csvLine = `${localTime},${temp},${hum}\\n`;\n\n// Get today's date string in format YYYY-MM-DD (local)\nlet dateString = now.toLocaleDateString('sv-SE'); // e.g., \"2025-04-02\"\n\n// Optional: Replace dash with underscore for filename safety\nlet filenameDate = dateString.replace(/-/g, \"_\");\n\n// Build filename\nlet filename = `/home/lab203/sensor_data_${filenameDate}.csv`;\n\n// Set output\nmsg.filename = filename;\nmsg.payload = csvLine;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "f7fccad68ad2b8bb",
        "type": "ui_chart",
        "z": "4c6622363990f819",
        "name": "",
        "group": "c2c21c29128782d5",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Hum Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 490,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0e93a3f615abfb48",
        "type": "ui_text",
        "z": "4c6622363990f819",
        "group": "09bdd12a6a229c36",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Location",
        "format": "{{msg.payload.location}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 40,
        "wires": []
    },
    {
        "id": "9eb6779fcf2d37c2",
        "type": "ui_gauge",
        "z": "4c6622363990f819",
        "name": "",
        "group": "09bdd12a6a229c36",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "Celsius",
        "format": "{{msg.payload.tempc}}",
        "min": "-40",
        "max": "50",
        "colors": [
            "#01e4e1",
            "#04e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 750,
        "y": 80,
        "wires": []
    },
    {
        "id": "d7a149b8894b7a23",
        "type": "ui_gauge",
        "z": "4c6622363990f819",
        "name": "",
        "group": "09bdd12a6a229c36",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 760,
        "y": 120,
        "wires": []
    },
    {
        "id": "0b5a4714eae19263",
        "type": "ui_text",
        "z": "4c6622363990f819",
        "group": "78e21e4353f44270",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "value",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 390,
        "y": 180,
        "wires": []
    }
]